{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h4 class="mb-3">Login</h4>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Phone</label>
          <input class="form-control" name="phone" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" name="password" required>
        </div>
        <button class="btn btn-primary w-100">Login</button>
      </form>
      <a href="/signup" class="btn btn-outline-success w-100 mt-3">Sub-auditor Signup</a>
    </div>
  </div>
</div>
{% endblock %}
